<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
    <trace traceSuccessfulSteps="false" listener="GPConnect.Provider.AcceptanceTests.Logger.TestListener, GPConnect.Provider.AcceptanceTests" />
  </specFlow>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="traceAllScenarios" value="true" />
    <add key="traceBaseDirectory" value="C:/Temp/" />

    <add key="dataDirectory" value="C:/dev/gpconnect-provider-testing/Data" />
    <add key="fhirDirectory" value="C:/dev/gpconnect-fhir/" />
    <add key="fhirWebDirectory" value="https://data.developer.nhs.uk/fhir/candidaterelease-250816-appts/Resources/Profile.GetScheduleQueryResponse/" />
    <add key="fhirCheckWeb" value="true" />
    <add key="fhirCheckDisk" value="true" />
    <add key="fhirCheckWebFirst" value="true" />

    <add key="consumerASID" value="200000000359" />
    <add key="providerASID" value="200000000359" />

    <add key="useTLS" value="false" />
    <add key="serverUrl" value="ANS-A357" />
    <add key="serverHttpsPort" value="19192" />
    <add key="serverHttpPort" value="19191" />
    <add key="serverBase" value="/fhir" />

    <add key="useWebProxy" value="false" />
    <add key="webProxyUrl" value="localhost" />
    <add key="webProxyPort" value="8889" />

    <add key="useSpineProxy" value="false" />
    <add key="spineProxyUrl" value="msg.dev.spine2.ncrs.nhs.uk" />
    <add key="spineProxyPort" value="443" />

    <add key="sendClientCert" value="true" />
    <add key="validateServerCert" value="true" />
        
    <!--Certificates for testing SSP-->
    <add key="clientCertThumbPrintValid" value="53 a0 9e 6a 3e 20 c0 10 48 9a 7d 50 89 d0 1e 18 be 18 77 21" />
    <add key="clientCertThumbPrintFQDNDoesNotMatchSendingSystem" value="4f 04 cb 97 16 19 29 f1 d5 70 bf 57 ee bd f9 2b 27 60 35 a5" />
    <add key="clientCertThumbPrintNotIssuedBySpineCA" value="4f 04 cb 97 16 19 29 f1 d5 70 bf 57 ee bd f9 2b 27 60 35 a5" />
    <add key="clientCertThumbPrintRevoked" value="4f 04 cb 97 16 19 29 f1 d5 70 bf 57 ee bd f9 2b 27 60 35 a5" />
    <add key="clientCertThumbPrintOutOfDate" value="f7 5b 14 f8 b2 df 49 30 6c bb 2b 98 b3 2f f3 0d 80 65 bf f3" />

    <!--Certificates for testing provider directly, bypassing the ssp-->
    <add key="sspAsClientCertThumbPrintValid" value="53 a0 9e 6a 3e 20 c0 10 48 9a 7d 50 89 d0 1e 18 be 18 77 21" />
    <add key="sspAsClientCertThumbPrintFQDNNotSSPFQDN" value="4f 04 cb 97 16 19 29 f1 d5 70 bf 57 ee bd f9 2b 27 60 35 a5" />
    <add key="sspAsClientCertThumbPrintNotIssuedBySpineCA" value="4f 04 cb 97 16 19 29 f1 d5 70 bf 57 ee bd f9 2b 27 60 35 a5" />
    <add key="sspAsClientCertThumbPrintRevoked" value="4f 04 cb 97 16 19 29 f1 d5 70 bf 57 ee bd f9 2b 27 60 35 a5" />
    <add key="sspAsClientCertThumbPrintOutOfDate" value="f7 5b 14 f8 b2 df 49 30 6c bb 2b 98 b3 2f f3 0d 80 65 bf f3" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>