<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="dataDirectory" value="C:/Program Files (x86)/Jenkins/workspace/GP-Connect-test/Data" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="fhirDirectory" value="C:/Program Files (x86)/Jenkins/workspace/GP-Connect-fhir/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="useTLS" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="serverUrl" value="ec2-54-194-109-184.eu-west-1.compute.amazonaws.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="serverHttpsPort" value="443" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="serverHttpPort" value="80" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <!--Certificates for imitating the SSP calling the Provider-->
    <add key="Thumbprint:Ssp:Valid" value="E8 97 81 A3 3D 27 08 99 85 A4 FD F5 12 FC EF AE 0F AB E4 29" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--<add key="Thumbprint:Ssp:Invalid:Expired" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />-->
    <add key="Thumbprint:Consumer:Ssp:Fqdn" value="04 A9 F6 1A C3 B2 00 7D 23 3A A4 5B 6D F7 8C D4 F9 6B 96 E8" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Thumbprint:Consumer:Ssp:Authority" value="AD 3D 18 EB 02 00 1A D2 83 50 4D 2C CE C3 28 12 39 6A 61 7A" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--<add key="Thumbprint:Ssp:Invalid:Revoked" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />-->

    <!--Certificates for imitating the Consumer calling the SSP-->
        
    <add key="Thumbprint:Consumer:Valid" value="B4 1E 45 8E 85 30 62 37 92 DA B4 5C 93 37 BE 8F 82 7F A3 34" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--<add key="Thumbprint:Consumer:Invalid:Expired" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />-->
    <add key="Thumbprint:Consumer:Invalid:Fqdn" value="28 65 15 E8 EC 8C A2 C2 5F 62 A5 B1 25 21 4E 0F 6C A9 E3 0C" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Thumbprint:Consumer:Invalid:Authority" value="1C BB BC 30 48 5A 66 C3 EE 02 2A 3B 20 03 06 03 AA 44 20 B3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Thumbprint:Consumer:Invalid:Revoked" value="E6 12 42 67 8C 3D 1A 3E 71 50 7E 5B E2 C5 48 56 00 14 A8 FA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!--Imitating SSP calling Provider-->
    <add key="Curl:Ssp:Certificate" value="C:\Development\gpconnect-provider-testing\Certificates\Trusted\SSP\Curl\msg.dev.spine2.ncrs.nhs.uk.cer" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Curl:Ssp:Key" value="C:\Development\gpconnect-provider-testing\Certificates\Trusted\SSP\Curl\msg.dev.spine2.ncrs.nhs.uk.key" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Curl:Ssp:Password" value="password" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--Imitating Consumer calling SSP-->
    <add key="Curl:Consumer:Certificate" value="C:\Development\gpconnect-provider-testing\Certificates\Trusted\GPConnect\Curl\GPConnect-Win2.itblab.nic.cfh.nhs.uk.cer" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Curl:Consumer:Key" value="C:\Development\gpconnect-provider-testing\Certificates\Trusted\GPConnect\Curl\GPConnect-Win2.itblab.nic.cfh.nhs.uk.key" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Curl:Consumer:Password" value="password" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <add key="sendClientCert" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>
</configuration>
  