<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" /></specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <appSettings>

    <add key="consumerASID" value="200000000359" />
    <add key="providerASID" value="200000000359" />

    <add key="useTLS" value="false" />
    <add key="fhirServerUrl" value="ec2-54-194-109-184.eu-west-1.compute.amazonaws.com" />
    <add key="fhirServerPort" value="80" />
    <add key="fhirServerFhirBase" value="/fhir" />

    <add key="useWebProxy" value="true" />
    <add key="webProxyUrl" value="localhost" />
    <add key="webProxyPort" value="8889" />
    
    <add key="useSpineProxy" value="false" />
    <add key="spineProxyUrl" value="msg.dev.spine2.ncrs.nhs.uk" />
    <add key="spineProxyPort" value="443" />
    
    <add key="sendClientCert" value="false" />
    <add key="clientCertThumbPrint" value="c3 1b 74 39 4b a1 60 c5 62 f1 dc 68 ee 3e 5a 3c 85 0b 32 61" />
    <add key="clientInvalidCertThumbPrint" value="ea 57 be 3c 6c da 33 e6 d8 75 88 99 44 ee 61 28 4e 39 d9 1d" />
    <add key="clientExpiredCertThumbPrint" value="ea 57 be 3c 6c da 33 e6 d8 75 88 99 44 ee 61 28 4e 39 d9 1e" />

    <add key="validateServerCert" value="true" />

  </appSettings>
  
</configuration>