<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>

    <add key="gpConnectSpecVersion" value="0.7.3" />

    <add key="traceAllScenarios" value="true" />
    <add key="traceBaseDirectory" value="..\..\..\TestResults\Traces" />

    <add key="dataDirectory" value="..\..\..\Data" />
    <add key="fhirDirectory" value="..\..\..\FHIR" />


    <add key="consumerASID" value="200000000359" />
    <add key="providerASID" value="918999198993" />

    <!-- internet facing orangelab -->
    <!-- <add key="useTLS" value="true" />
    <add key="serverUrl" value="orange.testlab.nhs.uk" />
    <add key="serverPort" value="443" /> -->
    
    <!-- local wiremock -->
    <!-- <add key="useTLS" value="false" />
    <add key="serverUrl" value="localhost" />
    <add key="serverPort" value="8080" /> -->

    <!--AWS wiremock-->
    <add key="useTLS" value="false" />
    <add key="serverUrl" value="gpcsandbox-dev-alb-297727129.eu-west-2.elb.amazonaws.com" />
    <add key="serverPort" value="80" />
    <add key="serverBase" value="/gpconnect-demonstrator/v0/fhir" />
    
    <add key="useWebProxy" value="false" />
    <add key="webProxyUrl" value="localhost" />
    <add key="webProxyPort" value="8889" />
    
    <add key="useSpineProxy" value="false" />
    <add key="spineProxyUrl" value="msg.dev.spine2.ncrs.nhs.uk" />
    <add key="spineProxyPort" value="443" />
    
    <add key="sendClientCert" value="false" />
    <add key="validateServerCert" value="false" />
    <add key="clientCertThumbPrint" value="53 a0 9e 6a 3e 20 c0 10 48 9a 7d 50 89 d0 1e 18 be 18 77 21" />
    <add key="clientInvalidCertThumbPrint" value="4f 04 cb 97 16 19 29 f1 d5 70 bf 57 ee bd f9 2b 27 60 35 a5" />
    <add key="clientExpiredCertThumbPrint" value="f7 5b 14 f8 b2 df 49 30 6c bb 2b 98 b3 2f f3 0d 80 65 bf f3" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="ReportingToFile:Enabled" value="true" />
    <add key="ReportingToFile:OutputFailureMessage" value="true" />
    <add key="ReportingToFile:SortFailFirst" value="true" />
    <add key="traceOutputJSONResponse" value="true" />
    <add key="traceOutputJWT" value="true" />
    <add key="traceOutputJSONRequestBody" value="true" />
    <add key="traceOutputHTMLResponse" value="true" />
    <add key="traceOutputConsoleLog" value="true" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
