<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.diagnostics>
		<sources>
			<source name="System.Net" tracemode="includehex" maxdatasize="1024">
				<listeners>
					<add name="System.Net" />
				</listeners>
			</source>
			<source name="System.Net.Cache">
				<listeners>
					<add name="System.Net" />
				</listeners>
			</source>
			<source name="System.Net.Http">
				<listeners>
					<add name="System.Net" />
				</listeners>
			</source>
			<source name="System.Net.Sockets">
				<listeners>
					<add name="System.Net" />
				</listeners>
			</source>
			<source name="System.Net.WebSockets">
				<listeners>
					<add name="System.Net" />
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="System.Net" value="Verbose" />
			<add name="System.Net.Cache" value="Verbose" />
			<add name="System.Net.Http" value="Verbose" />
			<add name="System.Net.Sockets" value="Verbose" />
			<add name="System.Net.WebSockets" value="Verbose" />
		</switches>
		<sharedListeners>
			<add name="System.Net" type="System.Diagnostics.TextWriterTraceListener" initializeData="network.log" />
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>
	<appSettings>
		<!--API Versions-->
		<add key="gpConnectSpecVersionFoundationsAndAppmts" value="1.5.0" />
		<add key="gpConnectSpecVersionStructured" value="1.5.0" />
		<add key="gpConnectSpecVersionDocuments" value="1.5.0" />

		<add key="traceAllScenarios" value="true" />
		<add key="traceBaseDirectory" value="../../../../TestResults/Traces/" />
        <add key="dataDirectory" value="../../../../Data" />
        <add key="fhirDirectory" value="../../../../FHIR" />
		<add key="fhirWebDirectory" value="https://data.developer.nhs.uk/fhir/candidaterelease-250816-appts/Resources/Profile.GetScheduleQueryResponse/" />
		<add key="fhirCheckWeb" value="true" />
		<add key="fhirCheckDisk" value="true" />
		<add key="fhirCheckWebFirst" value="true" />



		<!--Foundations And Appointments Endpoint Settings-->
		<add key="useTLSFoundationsAndAppmts" value="true" />
		<add key="serverUrlFoundationsAndAppmts" value="gpconnect-win1.itblab.nic.cfh.nhs.uk" />

		<!-- repoint at aws wiremock -->
		<!-- <add key="serverUrlFoundationsAndAppmts" value="gpcsandbox-dev-alb-297727129.eu-west-2.elb.amazonaws.com" /> -->

		<add key="serverHttpsPortFoundationsAndAppmts" value="443" />
		<add key="serverHttpPortFoundationsAndAppmts" value="80" />
		<add key="serverBaseFoundationsAndAppmts" value="/B82617/STU3/1/gpconnect/fhir" />
		<add key="jwtAudValueFoundationsAndAppmts" value="https://authorize.fhir.nhs.net/token/" />

		<!--Structured Endpoint Settings-->
		<!-- < point at orangebox wiremock -->
		<add key="useTLSStructured" value="true" />
		<add key="serverUrlStructured" value="orange.testlab.nhs.uk" />
		<add key="serverHttpsPortStructured" value="443" />
		<add key="serverHttpPortStructured" value="80" />
				<add key="sendClientCert" value="false" />
						<add key="consumerASID" value="200000000359" />
		<add key="providerASID" value="918999198738" />
				<add key="useSpineProxy" value="false" />


		

		<!-- < point at local wiremock -->
		<!-- <add key="useTLSStructured" value="false" />
		<add key="serverUrlStructured" value="localhost" /> 
		<add key="serverHttpPortStructured" value="8080" />
		<add key="serverHttpsPortStructured" value="8443" />
				<add key="sendClientCert" value="false" />
						<add key="consumerASID" value="200000000359" />
		<add key="providerASID" value="918999198738" />
				 <add key="useSpineProxy" value="false" /> -->



		<!-- repoint at aws wiremock -->
		<!-- <add key="serverUrlStructured" value="gpcsandbox-dev-alb-297727129.eu-west-2.elb.amazonaws.com" /> 
		<add key="useTLSStructured" value="false" />
		<add key="serverHttpsPortStructured" value="443" />
		<add key="serverHttpPortStructured" value="80" /> -->
				<!-- <add key="sendClientCert" value="false" /> -->
						<!-- <add key="consumerASID" value="200000000359" />
		<add key="providerASID" value="918999198738" /> -->
				<!-- <add key="useSpineProxy" value="false" /> -->

		
		<!-- repoint at INT -->
		<!-- <add key="serverUrlStructured" value="gpconnect-win1.itblab.nic.cfh.nhs.uk" /> 
		<add key="useTLSStructured" value="true" />
		<add key="serverHttpsPortStructured" value="443" />
		<add key="serverHttpPortStructured" value="80" />
		<add key="sendClientCert" value="true" />
		<add key="consumerASID" value="200000001329" />
        <add key="providerASID" value="200000001329" />
		<add key="useSpineProxy" value="true" /> -->


		<add key="serverBaseStructured" value="/B82617/STU3/1/gpconnect/structured/fhir" />

		<add key="jwtAudValueStructured" value="https://authorize.fhir.nhs.net/token/" />

		<!--Documents Endpoint Settings-->
		<add key="useTLSDocuments" value="true" />

		<!-- repoint at aws wiremock -->
		<add key="serverUrlDocuments" value="gpconnect-win1.itblab.nic.cfh.nhs.uk" />

		<add key="serverHttpsPortDocuments" value="443" />
		<add key="serverHttpPortDocuments" value="80" />
		<add key="serverBaseDocuments" value="/B82617/STU3/1/gpconnect/documents/fhir" />

		<add key="jwtAudValueDocuments" value="https://authorize.fhir.nhs.net/token/" />

		<add key="useWebProxy" value="false" />
		<add key="webProxyUrl" value="localhost" />
		<add key="webProxyPort" value="8889" />

		<add key="spineProxyUrl" value="proxy.int.spine2.ncrs.nhs.uk" />
		<add key="spineProxyPort" value="443" />

		<add key="validateServerCert" value="false" />

		<!--Thumbprints-->
		<!--Certificates for imitating the SSP calling the Provider-->
		<add key="Thumbprint:Ssp:Valid" value="2C A7 84 94 31 9F AA DE E6 2A 84 3F 85 7F 38 61 12 00 0A E8" />

		<add key="Thumbprint:Ssp:Invalid:Expired" value="86 31 d6 25 ba 88 65 b6 06 cb f2 70 fe ed 7a 82 5b 4d 14 aa" />
		<add key="Thumbprint:Ssp:Invalid:Fqdn" value="34 36 1f eb 71 9a 94 42 f6 63 08 84 e1 2e 0c bc d1 0f 34 0b" />
		<add key="Thumbprint:Ssp:Invalid:Authority" value="f8 b8 ff 86 6a 74 b7 68 b3 f2 bb d9 8f cd 17 64 e5 3c b3 9a" />
		<add key="Thumbprint:Ssp:Invalid:Revoked" value="de 6f 9c 50 dc 30 42 78 6a de 5d 3b c9 43 27 de 14 47 a9 f7" />
		<!--Certificates for imitating the Consumer calling the SSP-->
		<add key="Thumbprint:Consumer:Valid" value="45 0d 78 4a 89 9c 65 ea 09 45 1c b6 7e 91 82 04 62 61 34 cb" />
		<add key="Thumbprint:Consumer:Invalid:Expired" value="f3 35 d6 ea f8 00 41 61 81 11 e6 0d 00 6f e6 13 e7 b6 ef ee" />
		<add key="Thumbprint:Consumer:Invalid:Fqdn" value="c7 15 67 71 7b 98 ff 15 da 49 70 8e 21 55 c8 6e 28 7c 51 ba" />
		<add key="Thumbprint:Consumer:Invalid:Authority" value="4a cc fc 13 4c 3d d4 90 e2 76 e5 92 17 95 a6 7d 29 bc d4 be" />
		<add key="Thumbprint:Consumer:Invalid:Revoked" value="de 6f 9c 50 dc 30 42 78 6a de 5d 3b c9 43 27 de 14 47 a9 f7" />

		<!--Curl-->
		<!--Imitating SSP calling Provider-->
		<add key="Curl:Ssp:Certificate" value="C:\Dev\gpconnect-provider-testing\Certificates\Self Signed\SSP\Curl\msg.dev.spine2.ncrs.nhs.uk.cer" />
		<add key="Curl:Ssp:Key" value="C:\Dev\gpconnect-provider-testing\Certificates\Self Signed\SSP\Curl\msg.dev.spine2.ncrs.nhs.uk.key" />
		<add key="Curl:Ssp:Password" value="password" />
		<!--Imitating Consumer calling SSP-->
		<add key="Curl:Consumer:Certificate" value="C:\Dev\gpconnect-provider-testing\Certificates\Self Signed\GPConnect\Curl\GPConnect-Win2.itblab.nic.cfh.nhs.uk.cer" />
		<add key="Curl:Consumer:Key" value="C:\Dev\gpconnect-provider-testing\Certificates\Self Signed\GPConnect\Curl\GPConnect-Win2.itblab.nic.cfh.nhs.uk.key" />
		<add key="Curl:Consumer:Password" value="password" />

		<add key="Reporting:Enabled" value="false" />
		<add key="Reporting:BaseUrl" value="localhost" />
		<add key="Reporting:Endpoint" value="/api/result" />
		<add key="Reporting:Port" value="14947" />
		<add key="Reporting:Tls" value="false" />

		<add key="ReportingToFile:Enabled" value="true" />
		<add key="ReportingToFile:OutputFailureMessage" value="true" />
		<add key="ReportingToFile:SortFailFirst" value="true" />
		<add key="traceOutputJSONResponse" value="true" />
		<add key="traceOutputJWT" value="true" />
		<add key="traceOutputJSONRequestBody" value="true" />
		<add key="traceOutputConsoleLog" value="true" />

		<!--Enables Teardown-->
		<add key="Teardown:Enabled" value="true" />
		<add key="RandomPatient:Enabled" value="true" />

	</appSettings>
</configuration>